{
    "presets": [
        "es2015", "stage-1"
    ],

    "plugins": [
        ["transform-decorators-legacy"],
        ["transform-react-jsx", { "pragma":"h" }],
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}