.container {
    padding-bottom: 50px;
    font-size: 16px;
}
.containerFixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.container p,
.container h3 {
    padding: 0;
    margin:  5px 0;
}

.container h3 {
    font-size: 1.1em !important;
    margin: 0px 0 10px;
}

.avatar {
    height: 48px;
    width: 48px;
    background: #4670ef;
    border: 2px solid #4670ef;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 0 0 10px #ccc;
}

.avatar::after {
    content: ' ';
    background: url('../../assets/img/im_fff_32x32.png') no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    margin: 7px;
}

.mediaRecorder {
    position: relative;
    width: 330px;
    border: 2px solid #4670ef;
    padding: 50px 20px 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    text-align: center;
}

.close {
    position: absolute;
    top:5px;
    right: 15px;
    cursor: pointer;
}

.close:after{
    display: inline-block;
    font-size: 28px !important;
    content: "\00d7"; /* This will render the 'X' */
}

.container[data-open=false] .mediaRecorder{
    display: none;
}

.container[data-open=true] .avatar:after {
    background: url('../../assets/img/close_white_32x32.png') no-repeat;
}

.btn {
    padding: 11px 21px;
    border: 1px solid #EE2A24;
    background-color: #EE2A24;
    color: #fff !important;
    cursor: pointer;
    font-weight: 800;
    align-items: center;
    display: inline-flex;
    /*width: 220px;*/
    margin: 5px 0;
    border-radius: 6px;
}

.btn::before {
    content: '';
    height: 32px;
    width: 32px;
    display: block;
    margin-right: 10px;
}

.btnTxt::before {
    content: '';
    height: 0px;
    width: 0px;
    display: block;
    margin-right: 0px;
}

.btn:hover {
    background: #e1251f;
    color: #fff !important;
}

/*.btnMicrophone::before {*/
/*    background: url('../../assets/img/im_ef7c46_32x32.png') no-repeat;*/
/*}*/

.btnMicrophone::before {
  background: url('../../assets/img/im_fff_32x32.png') no-repeat;
}

/*.btnReplay::before {*/
/*    background: url('../../assets/img/replay_ef7c46_32x32.png') no-repeat;*/
/*}*/

.btnReplay::before {
  background: url('../../assets/img/replay_white_32x32.png') no-repeat;
}

.btnStopRecording::before {
    background-color: #ffffff;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.btnStopRecording:hover::before {
    background-color: #fff;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

/*.btnSendFile::before {*/
/*    background: url('../../assets/img/isf_ef7c46_32x32.png') no-repeat;*/
/*}*/

.btnSendFile::before {
  background: url('../../assets/img/isf_fff_32x32.png') no-repeat;
}

.step1 .duration span,
.step1 .progress span {
    font-weight: 800;
}

.step2 audio {
    width: 100%;
}

.step2 .feedbackForm input {
    width: 230px;
    border: 1px solid #4670ef;
    margin-bottom: 5px;
    padding: 10px;
}

ul.steps {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

ul.steps li {
    display: inline;
    margin-right: 18px;
    font-size: .9em;
    font-weight: 800;
}

ul.steps li::before {
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4670ef;
    /*background-color: #73b0f3;*/
    color: #4670ef;
}

ul.steps li.active {
    color: #4670ef
}

ul.steps li.active::before {
    background-color: #4670ef;
    color: #fff;
}

ul.steps li:nth-child(1):before {
    content: '1';
}

ul.steps li:nth-child(2):before {
    content: '2';
}

ul.steps li:nth-child(3):before {
    content: '3';
}

.or {
    text-align: center;
}

.or::after {
    content: '\02C8';
    display: block;
}
.or::before {
    content: '\02CC';
    display: block;
}