.container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding-bottom: 50px;
}

.avatar {
    height: 48px;
    width: 48px;
    background: #ef7c46;
    border: 2px solid #ef7c46;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.avatar::after {
    content: ' ';
    background: url('../../assets/img/im_fff_32x32.png') no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    margin: 7px;
}

.mediaRecorder {
    width: 230px;
    border: 2px solid #ef7c46;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.btn {
    padding: 15px 0;
    border: 1px solid #ef7c46;
    background-color: #fce5da;
    color:#ef7c46;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    align-items: center;
    display: inline-flex;
    width: 230px;
    justify-content: center;
}

.btn::before {
    content: '';
    height: 32px;
    width: 32px;
    display: block;
    margin-right: 10px;
}

.btn:hover {
    background: #ef7c46;
    color: #fff;
}

.btnMicrophone::before {
    background: url('../../assets/img/im_ef7c46_32x32.png') no-repeat;
}

.btnMicrophone:hover::before {
  background: url('../../assets/img/im_fff_32x32.png') no-repeat;
}

.btnStopRecording::before {
    background-color: #ef7c46;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.btnStopRecording:hover::before {
    background-color: #fff;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.btnSendFile::before {
    background: url('../../assets/img/isf_ef7c46_32x32.png') no-repeat;
}

.btnSendFile:hover::before {
  background: url('../../assets/img/isf_fff_32x32.png') no-repeat;
}


ul.steps {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

ul.steps li {
    display: inline;
    margin-left: 5px;
    font-size: .9em;
    font-weight: 800;
}
ul.steps li::before {
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ef7c46;
    background-color: #fce5da;
    color: #ef7c46;
}

ul.steps li.active {
    color: #ef7c46
}

ul.steps li.active::before {
    background-color: #ef7c46;
    color: #fff;
}

ul.steps li:nth-child(1):before {
    content: '1';
}

ul.steps li:nth-child(2):before {
    content: '2';
}

ul.steps li:nth-child(3):before {
    content: '3';
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}