.container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding-bottom: 50px;
    font-size: 14px;
}

.container p {
    padding: 0;
    margin:  5px 0;
}

.avatar {
    height: 48px;
    width: 48px;
    background: #ef7c46;
    border: 2px solid #ef7c46;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 0 0 10px #ccc;
}

.avatar::after {
    content: ' ';
    background: url('../../assets/img/im_fff_32x32.png') no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    margin: 7px;
}

.mediaRecorder {
    width: 250px;
    border: 2px solid #ef7c46;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px #ccc;
}

.container[data-open=false] .mediaRecorder{
    display: none;
}

.container[data-open=true] .avatar:after {
    background: url('../../assets/img/close_white_32x32.png') no-repeat;
}

.btn {
    padding: 15px;
    border: 1px solid #ef7c46;
    background-color: #fce5da;
    color:#ef7c46;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    align-items: center;
    display: inline-flex;
    width: 220px;
}

.btn::before {
    content: '';
    height: 32px;
    width: 32px;
    display: block;
    margin-right: 10px;
}

.btn:hover {
    background: #ef7c46;
    color: #fff;
}

.btnMicrophone::before {
    background: url('../../assets/img/im_ef7c46_32x32.png') no-repeat;
}

.btnMicrophone:hover::before {
  background: url('../../assets/img/im_fff_32x32.png') no-repeat;
}

.btnReplay::before {
    background: url('../../assets/img/replay_ef7c46_32x32.png') no-repeat;
}

.btnReplay:hover::before {
  background: url('../../assets/img/replay_white_32x32.png') no-repeat;
}

.btnStopRecording::before {
    background-color: #ef7c46;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.btnStopRecording:hover::before {
    background-color: #fff;
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.btnSendFile::before {
    background: url('../../assets/img/isf_ef7c46_32x32.png') no-repeat;
}

.btnSendFile:hover::before {
  background: url('../../assets/img/isf_fff_32x32.png') no-repeat;
}

.step1 .duration span,
.step1 .progress span {
    font-weight: 800;
}

.step2 audio {
    width: 100%;
}

.step2 .feedbackForm input {
    width: 230px;
    border: 1px solid #ef7c46;
    margin-bottom: 5px;
    padding: 10px;
}

ul.steps {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

ul.steps li {
    display: inline;
    margin-left: 5px;
    font-size: .9em;
    font-weight: 800;
}
ul.steps li::before {
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ef7c46;
    background-color: #fce5da;
    color: #ef7c46;
}

ul.steps li.active {
    color: #ef7c46
}

ul.steps li.active::before {
    background-color: #ef7c46;
    color: #fff;
}

ul.steps li:nth-child(1):before {
    content: '1';
}

ul.steps li:nth-child(2):before {
    content: '2';
}

ul.steps li:nth-child(3):before {
    content: '3';
}

.or {
    text-align: center;
}

.or::after {
    content: '\02C8';
    display: block;
}
.or::before {
    content: '\02CC';
    display: block;
}